.records-container-bg {
  padding: 2rem 0;
  width: 80dvw;
  height: 90dvh;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.records-container-wrapper{
  width: 100%;
  height: auto;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.record-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-radius: 6px;
  padding: 0.5rem 0.75rem;
  font-size: var(--fs-x-small);
}

.records-container {
  width: 100%;
  background-color: var(--clr-white-dark);
}

.css-yrdy0g-MuiDataGrid-columnHeaderRow {
  color: var(--clr-white-dark);
  background: var(--clr-primary) !important;
}

.edit-icon{
  cursor: pointer;
  margin-right: 1rem;
  color: var(--clr-black-light);
}

.delete-icon{
  cursor: pointer;
  color: #f00;
}

.error-div{
  margin: 2rem 2rem 2rem 0;
  padding: 1.5rem 2rem;
  width: 100%;
  font-weight: 500;
  color: #f00;
  font-size: var(--fs-medium);
  background-color: var(--clr-white-dark);
}

.error-div span {
  font-size: var(--fs-small);
  color: var(--clr-black-dark);
}

.loading-text{
  margin: 1rem 0;
  color: var(--clr-primary);
  font-size: var(--fs-medium);
}

@media screen and (width > 1200px) {
  .records-container-bg {
    width: 85dvw;
  }
}