.records-container-wrapper{
  padding: 2rem 0;
  width: 80dvw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
}

.records-header-container{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.record-btn {
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  border-radius: 6px;
  font-size: var(--fs-x-small);
}

.records-filter-dropdown{
  padding: 0.5rem 0.75rem;
  border: none;
  outline: none;
  border-radius: 6px;
  font-size: var(--fs-x-small);
  color: var(--clr-white-dark);
  background-color: var(--clr-primary);
  cursor: pointer;
}

.records-filter-dropdown option{
  font-weight: 600;
  font-size: var(--fs-x-small);
  color: var(--clr-primary);
  background-color: var(--clr-white-dark);
  cursor: pointer;
}

.records-container {
  width: 100%;
  background-color: var(--clr-white-dark);
}

.edit-icon{
  cursor: pointer;
  margin-right: 1rem;
  color: var(--clr-black-light);
}

.delete-icon{
  cursor: pointer;
  color: #f00;
}

@media screen and (width > 1200px) {
  .records-container-wrapper{
    width: 85dvw;
  }
}